body  {
	background: #ebe7e9;
	font-family: "Open Sans", sans-serif;
   
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
	padding: 25px 15px 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-fluid {
	height: 220px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
img.img-fluid{
	padding: 10px 90px;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #edd0d0;
	background: #7ac400;
	box-shadow: none;
}
.thumb-content{
	display: flex;
	flex-direction: column;
	justify-content:space-between ;
	align-items: center;
	
}
.carousel .img-fluid{
	width:146px;
	height: 220px;
}

.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #7ac400;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}


  
  .thumb-wrapper:hover {
    box-shadow:
    -2px -5px 10px rgba(255, 255, 255, 0.5), /* Top-left */
     2px -5px 10px rgba(245, 240, 240, 0.5), /* Top-right */
    -2px  5px 10px rgba(247, 243, 243, 0.5), /* Bottom-left */
     2px  5px 10px rgba(0, 0, 0, 0.5); /* Bottom-right */
}

.icoo {
    position: fixed;
    top:35px;
    right:75px;
    height: 45px;
    width:35px;
    cursor: pointer;
    
    
}

.styleit{
    position: fixed;
    top:30px;
    right:75px;
    height: 35px;
    width:35px;
    background-color: red;
    border-radius: 20px;
    width:20px;
    height: 20px;
    z-index: 9;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/**********canvass*********/

.dropdown-content a {
    display: block;
    width: 213px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 7px;
    margin-bottom: 7px;
    margin-top: 7px;
    
   
}
.dropdown-content li:hover {
    
    background-color: rgb(249, 245, 245) ; 
    
  }




/* dropdown integration */
.dropdown {
    position: relative;
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    padding-top: 10px;
    
    z-index: 1;
    
    
  }
  
  .hidden-list {
    
    position: fixed;
    z-index: 99999;
    right: -400px; /* Start off the screen */
    background-color: white;
    color: black !important; /* Change text color for visibility */
    top:0px;
    transition: 0.9s;
    padding-top: 20px;
    width: 400px;
    height: 100%;
	
}

button.close {
	color:black ;
	
	background-color: rgb(240, 237, 237);
    width: 30px;
	margin-bottom: 5px;
	position: absolute;
	margin-top: 0px;
	margin-left: 10px;
	border:0.2px solid;
	text-align: center;
	opacity: 1;
}

.button:hover{
	background-color:red !important;

}
.price {
	position: absolute;
	bottom: 80px;
	left:10px;
	color: #000;
	
	background-color: white;
	border:1px solid;
	padding:0px 5px;
}

.cart-img {
	
	width:120px;
	height:120px;
	
	
}

.cart-box{
	margin-top:50px;
	margin-left:1rem;
	display: grid;
	grid-template-columns: 29% 45% 10%;
	align-items: center;
	gap:1.5rem;
	
}

.detail-box {
	display:grid;
	row-gap:0.5rem;
}

.cart-product-title{
	font-size:1rem;
	text-transform: uppercase;
}

.carte-price{
	font-weight: 500;
}
.cart-quantity{
	border:1px solid var;
	width:2.4rem;
	text-align: center;
	font-size: 1rem;
}
.cart-remove{
	font-size:24px;
	cursor:pointer;
	color:red;
}

.total{
	display:flex;
	justify-content: flex-end;
	margin-top: 4rem;
	border-top:1px solid black;
	margin-right:1rem;
	

}

.total-title{
	font-size:1rem;
	font-weight:600;

}

.total-price{
	margin-left: 0.5rem; 
}

.btn-buy{
	display:flex;
	margin:1.5rem auto 0 auto;
	padding: 12px 20px;
	border:none;
	background-color:rgb(232, 117, 117);
	font-size: 1rem;
	font-weight: 500;
	cursor:pointer;
	
}
.btn-buy:hover{
	background-color: black;
	color:white;

}
